<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.abreslav.org/Grammatic/2008/Query/Variables" 
       class = "org.abreslav.grammatic.query.variables.VariablesPackage"
       genModel = "model/variables.genmodel" /> 
  </extension>

</plugin>
