<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin
      name="%pluginName"
      id="org.abreslav.grammatic.atf.java.antlr.generator"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.abreslav.org/grammatic/antlr/2009/ATF/Java/ANTLR"
            class="org.abreslav.grammatic.atf.java.antlr.AntlrPackage"
            genModel="model/antlr.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.abreslav.org/grammatic/antlr/2009/ATF/Java/ANTLR/Semantics"
            class="org.abreslav.grammatic.atf.java.antlr.semantics.SemanticsPackage"
            genModel="model/antlr.genmodel"/>
   </extension>

</plugin>
